/GolfDatabase.mdj
/Lab.mdj
/LAB.pdf
/Lecture 1 - Chap 1.ppt
/Lecture 2 - Chap 2  Chap 3.ppt
/Lecture 3 - Chap 10.ppt
/Lecture 4 - Chap 12 (2).ppt
/Lecture 5 - Chap 13.ppt
/Lecture 6 - Chap 6  Chap 7.ppt
/rebel.conf
/rebel.user.conf
/Untitled.mdj